---
layout: page
description: "Блог про альпінізм, біг та подорожі"
---
{% for post in paginator.posts %}
  {% include post_preview.html postref=post %}
{% endfor %}    
<hr>
{% if paginator.total_pages > 1 %}
<div class="pager">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button u-pull-left">&larr; Новіші </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button u-pull-right">Старші &rarr;</a>
    {% endif %}
</div>
{% endif %}
