---
layout: page
---
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">

<div class="post-preview">
            <header class="post-header">
              <div class="post-title">
                 {{ page.title }}
              </div>
              <div class="post-subtitle">
                Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}
              </div>
            </header>

            {% if page.feature %}
            <img src="{{ site.baseurl }}/assets/images/{{ page.feature }}" class="u-full-width"/>
            {% endif %}
            
            <article class="post-article">
             {{ content }} 
            </article>
</div>
<hr> 
{% unless page.nocoffee %}
<div class="coffeecontainer"><div style="float: left;">Сподобався пост?</div><div style="float: right;">Підтримайте блог!</div><div class="mecoffee">{% include buymeacoffee.html %}</div></div>
{% endunless %}
<hr> 
<div class="pager">
    {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="button u-pull-left" title="{{page.previous.title}}">&larr; Туди</a>
    {% endif %}
    {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="button u-pull-right" title="{{page.next.title}}">Сюди &rarr;</a>
    {% endif %}
</div>

{% include related-posts.html %}
<hr>
{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
